body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	/*background-image: url("ornaments_texture1127.jpg");*/
    /*background-repeat: repeat;*/
    margin-right: 25px;
}
th{
	padding: 5px 5px 5px 5px;
}
td{
	padding: 5px 5px 5px 5px;
}

.text-center{
	text-align: center;
}
.catatan{
	border: 1px solid #000;
	height: 200px;
	width: 50%;
	padding: 5px;
}

.catatan .tengah{
	text-align: center;
	font-weight: bold;
}

.clear{
	clear: left;
}

.biodata{
	float: left;
	width: 30%;
}